<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CarSale</title>
</head>
<body class="bg-light">
<header>
    <div class="navigation bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white text-uppercase btn" href="/carhouse/homePage"><strong>Car
                                house</strong></a>
                        </li>
                        <li class="nav-item ml-auto bg-secondary">
                            <form id="userRoom" th:action="@{/carhouse/user/room}" method="post">
                                <input type="hidden" id="authentication" name="authentication">
                            </form>
                            <a class="nav-link text-white btn" onclick="goToUserRoom()">User room</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container mt-4 bg-white rounded">
        <div class="row pt-2">
            <div class="col">
                <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                        <a class="text-dark" th:href="@{/carhouse/carSale}">All car sales</a>
                    </li>
                    <li class="list-inline-item">
                        <span> -- </span>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-dark"
                           th:href="@{/carhouse/carSale/(carMakeId=${carSale.car.carModel.carMake.carMakeId})}"
                           th:text="${carSale.car.carModel.carMake.carMake}">carMake</a>
                    </li>
                    <li class="list-inline-item">
                        <span> -- </span>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-dark" th:href="@{/carhouse/carSale/(carMakeId=${carSale.car.carModel.carMake.carMakeId},
                        carModelId=${carSale.car.carModel.carModelId})}"
                           th:text="${carSale.car.carModel.carModel}">carModel</a>
                    </li>
                    <li class="list-inline-item">
                        <span> -- </span>
                    </li>
                    <li class="list-inline-item">
                        <span th:text="|${carSale.car.carModel.carMake.carMake} ${carSale.car.carModel.carModel},
                        ${#calendars.year(carSale.car.year)}|">carModel</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 th:text="|${carSale.car.carModel.carMake.carMake} ${carSale.car.carModel.carModel},
                        ${#calendars.year(carSale.car.year)}|">Car</h1>
            </div>
        </div>
        <div class="d-none">
            <input id="carSaleId" th:value="${carSale.carSaleId}">
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-lg pb-3 order-lg-last">
                <!--                <img th:src="${imageUrl}" width="100%"></a>-->
                <img th:src="|/${carSale.imageName}|" width="100%"></a>
            </div>
            <div class="col-12 col-lg-4">
                <div class="d-inline-block p-1 bg-danger">
                    <span class="h2 text-white" th:text="${carSale.price}">Price</span>
                    <ins class="text-white">$</ins>
                </div>
                <br>
                <br>
                <div class="car_characteristics">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>Year of manufacture
                            </th>
                            <th scope="row" th:text="${#dates.year(carSale.car.year)}">Year
                            </td>
                        </tr>
                        <tr>
                            <td>Mileage
                            </th>
                            <th scope="row" th:text="${carSale.car.mileage}">Mileage
                            </td>
                        </tr>
                        <tr>
                            <td>Fuel type
                            </th>
                            <th scope="row" th:text="${carSale.car.fuelType.fuelType}">Fuel type
                            </td>
                        </tr>
                        <tr>
                            <td>Transmission
                            </th>
                            <th scope="row" th:text="${carSale.car.transmission.transmission}">Transmission
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="car_features">
                    <h5>Car features:</h5>
                    <ul style="list-style-type: disc">
                        <li th:each="carFeature : ${carSale.car.carFeatureList}" th:text="${carFeature.carFeature}">
                            Winter tires
                        </li>
                    </ul>
                </div>
                <div class="seller">
                    <h5>Seller:</h5>
                    <ul style="list-style-type: none">
                        <li>
                            <strong>Name: </strong><p class="d-inline-block" th:text="${carSale.user.userName}"></p>
                        </li>
                        <li>
                            <strong>Phone number: </strong><p class="d-inline-block" th:text="${carSale.user.phoneNumber}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="comments">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <div><h5>Comments:</h5></div>
                        <div>
                            <a href="#" class="btn btn-sm btn-secondary text-white"
                               onclick="getAddCommentForm()">
                                <i class="fas fa-plus"></i> Add comment</a>
                        </div>
                    </div>
                    <div id="listComments">
                        <div th:id="|comment${comment.commentId}|"
                             class="d-block border border-secondary rounded pl-3 mb-1"
                             th:each="comment : ${carSale.commentList}">
                            <div class="row">
                                <div class="col-8 col-md-10">
                                    <strong id="username" th:text="${comment.userName}"></strong><br>
                                    <span id="commenttext" th:text="${comment.comment}"></span>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-start justify-content-end">
                                        <div>
                                            <a href="#" th:onclick="|getUpdateCommentForm('${comment.commentId}')|"
                                               class="btn-sm  text-secondary">
                                                <i class="fa fa-pencil"></i> <span
                                                    class="d-none d-md-inline">Edit...</span></a>
                                            <br>
                                            <span id="deletemodal" data-toggle="modal"
                                                  data-target="#deleteDialog"
                                                  th:attr="data-id=${comment.commentId},data-comment=${comment.comment},
                                                  data-username=${comment.userName}">
                                                <a href="#" class="btn-sm  text-secondary"
                                                   data-toggle="tooltip"
                                                   data-placement="top">
                                                    <i class="fa fa-remove"></i> <span
                                                        class="d-none d-md-inline">Delete</span></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="deleteUrl" href="#" onclick="deleteComment()" class="btn btn-danger">Delete</a>
                <input class="d-none" id="commentId" type="text">
            </div>
        </div>
    </div>
</div>

<div id="model"></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text('Please confirm delete comment: \n"' + target.data('comment'));
        document.getElementById('commentId').textContent = target.data('id');
    });

    function getUpdateCommentForm(commentId) {
        $.ajax({
            url: "/carhouse/carSale/comment/" + commentId + " /updateForm",
            type: 'GET',
            dataType: "html",
            success: function (data) {
                $('#model').html(data);
                $('#updateDialog').modal();
            },
            error: function (error) {
                $('#model').html(error.responseText);
                $('#centralModalError').modal();
            }
        });
    }

    function updateComment(commentId) {
        $.ajax({
            type: 'POST',
            url: "/carhouse/carSale/comment/" + commentId,
            data: $('#updateForm').serialize(),
            success: function (response) {
                $('#updateDialog').modal('hide');
                setTimeout(function () {
                    $('#model').html(response);
                    if ($('#updateDialog').length) {
                        $('#updateDialog').modal();
                    } else {
                        $('#model').empty();
                        $('#comment' + commentId).replaceWith(response);
                    }
                }, 300);
            },
            error: function (error) {
                $('#updateDialog').modal('hide');
                setTimeout(function () {
                    $('#model').html(error.responseText);
                    $('#centralModalError').modal();
                }, 300)
            }
        });
    }

    function getAddCommentForm() {
        $.ajax({
            url: "/carhouse/carSale/comment/addForm",
            type: 'GET',
            dataType: "html",
            success: function (data) {
                $('#model').html(data);
                $('#addDialog').modal();
            },
            error: function (error) {
                $('#model').html(error.responseText);
                $('#centralModalError').modal();
            }
        });
    }

    function addComment() {
        var carSaleId = $('#carSaleId').val();
        $.ajax({
            type: 'POST',
            url: "/carhouse/carSale/" + carSaleId + "/comment",
            data: $('#addForm').serialize(),
            success: function (response, status) {
                $('#addDialog').modal('hide');
                setTimeout(function () {
                    $('#model').html(response);
                    if ($('#addDialog').length) {
                        $('#addDialog').modal();
                    } else {
                        $('#model').empty();
                        $('#listComments').append(response);
                    }
                }, 300);
            },
            error: function (error) {
                alert("error");
                $('#addDialog').modal('hide');
                setTimeout(function () {
                    $('#model').html(error.responseText);
                    $('#centralModalError').modal();
                }, 300)
            }
        });
    }

    function deleteComment() {
        var commentId = $('#commentId').text();
        $.ajax({
            type: 'GET',
            url: "/carhouse/carSale/comment/" + commentId + "/delete",
            success: function (data) {
                $('#comment' + commentId).remove();
                $('#deleteDialog').modal('toggle');
                $('#model').html(data);
                $('#centralModalSuccess').modal();
            },
            error: function (error) {
                $('#deleteDialog').modal('hide');
                setTimeout(function () {
                    $('#model').html(error.responseText);
                    $('#centralModalError').modal();
                }, 300)
            }
        });
    }

    function showError(data) {
        $('#model').html(data.responseText);
        $('#centralModalError').modal();
    }

    function goToUserRoom() {
        $('#authentication').val(localStorage.getItem("Authorization"));
        $('#userRoom').submit();
    }
</script>
</body>
</html>