<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CarSale</title>
</head>
<body class="bg-light">
<header>
    <div class="navigation bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white text-uppercase btn" href="/homePage"><strong>Car house</strong></a>
                        </li>
                        <li class="nav-item ml-auto bg-success">
                            <a class="nav-link text-white btn" href="/carSale/addForm"><i class="fas fa-plus"></i> Add advertisement</a>
                        </li>
                        <li class="nav-item mr-0 bg-secondary">
                            <a class="nav-link text-white btn" href="/loginPage">Sing in/Sing up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container mt-4 bg-white rounded">
        <div class="row pt-2">
            <div class="col">
                <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                        <a class="text-dark" th:href="@{/carSale}">All car sales</a>
                    </li>
                    <li class="list-inline-item">
                        <span> -- </span>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-dark" th:href="@{/carSale/(carMakeId=${carSale.car.carModel.carMake.carMakeId})}"
                           th:text="${carSale.car.carModel.carMake.carMake}">carMake</a>
                    </li>
                    <li class="list-inline-item">
                        <span> -- </span>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-dark" th:href="@{/carSale/(carMakeId=${carSale.car.carModel.carMake.carMakeId},
                        carModelId=${carSale.car.carModel.carModelId})}"
                           th:text="${carSale.car.carModel.carModel}">carModel</a>
                    </li>
                    <li class="list-inline-item">
                        <span> -- </span>
                    </li>
                    <li class="list-inline-item">
                        <span th:text="|${carSale.car.carModel.carMake.carMake} ${carSale.car.carModel.carModel},
                        ${#calendars.year(carSale.car.year)}|">carModel</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 th:text="|${carSale.car.carModel.carMake.carMake} ${carSale.car.carModel.carModel},
                        ${#calendars.year(carSale.car.year)}|">Car</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-lg pb-3 order-lg-last">
                <img th:src="@{/static/bmwM.jpg}" width="100%"></a>
            </div>
            <div class="col-12 col-lg-4">
                <div class="d-inline-block p-1 bg-danger">
                    <span class="h2 text-white" th:text="${carSale.price}">Price</span>
                    <ins class="text-white">$</ins>
                </div>
                <br>
                <br>
                <div class="car_characteristics">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>Year of manufacture</th>
                            <th scope="row" th:text="${#dates.year(carSale.car.year)}">Year</td>
                        </tr>
                        <tr>
                            <td>Mileage</th>
                            <th scope="row" th:text="${carSale.car.mileage}">Mileage</td>
                        </tr>
                        <tr>
                            <td>Fuel type</th>
                            <th scope="row" th:text="${carSale.car.fuelType.fuelType}">Fuel type</td>
                        </tr>
                        <tr>
                            <td>Transmission</th>
                            <th scope="row" th:text="${carSale.car.transmission.transmission}">Transmission</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="car_features">
                    <h5>Car features:</h5>
                    <ul style="list-style-type: disc">
                        <li th:each="carFeature : ${carSale.car.carFeatureList}" th:text="${carFeature.carFeature}">
                            Winter tires
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>