<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CarSale</title>
</head>
<body>
<header>
    <div class="navigation bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white text-uppercase btn" href="/homePage"><strong>Car house</strong></a>
                        </li>
                        <li class="nav-item ml-auto bg-success">
                            <a class="nav-link text-white btn" href="/carSale/add"><i class="fas fa-plus"></i> Add advertisement</a>
                        </li>
                        <li class="nav-item mr-0 bg-secondary">
                            <a class="nav-link text-white btn" href="#">Sing in/Sing up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <ul class="list-inline list-unstyled" th:if="${carMake != null}">
                    <li class="list-inline-item">
                        <a class="text-dark" th:href="@{/carSale}">All car sales</a>
                    </li>
                    <li class="list-inline-item">
                        <span> -- </span>
                    </li>
                    <li th:if="${carModel == null}" class="list-inline-item">
                        <span th:text="${carMake.carMake}">carMake</span>
                    </li>
                    <li th:if="${carModel != null}" class="list-inline-item">
                        <a class="text-dark" th:href="@{'/carSale/carMake/' + ${carMake.carMakeId}}"
                           th:text="${carMake.carMake}">carMake</a>
                    </li>
                    <li class="list-inline-item" th:if="${carModel != null}">
                        <span> -- </span>
                    </li>
                    <li class="list-inline-item" th:if="${carModel != null}">
                        <span th:text="${carModel.carModel}">carModel</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="h2" th:text="'Selling cars ' + ${#objects.nullSafe(carMake?.carMake, '')}
                + ' ' + ${#objects.nullSafe(carModel?.carModel, '')} + ' '">Selling Cars</span>
                <span th:text="' ' + ${listCarSaleSize} + ' advertisements'"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="listCarModels list-unstyled">
                    <li th:each="carModel : ${listCarModels}">
                        <a th:href="@{'/carSale/carMake/' + ${carMake.carMakeId}
                         + '/carModel/' + ${carModel.carModelId}}">
                            <span th:text="${carModel.carModel}">Acura</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="listCarMakes list-unstyled">
                    <li th:each="carMake : ${listCarMakes}">
                        <a th:href="@{'/carSale/carMake/' + ${carMake.carMakeId}}">
                            <span th:text="${carMake.carMake}">Acura</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row border bg-light" th:each="carSale : ${listCarSales}">
            <div class="col-2 p">
                <img th:src="@{/static/bmw.jpg}" height="134" width="180">
            </div>
            <div class="col-2">
                <span th:text="${carSale.car.year}"></span><br>
                <strong th:text="${carSale.price} + ' $'"></strong>
            </div>
            <div class="col">
                <h4 th:text="${carSale.car.carModel.carMake.carMake} + ', ' + ${carSale.car.carModel.carModel}"></h4>
                <span th:text="${carSale.car.transmission.transmission} + ', ' + ${carSale.car.fuelType.fuelType}
+ ', ' + ${carSale.car.mileage} + ' m.'"></span>
            </div>
        </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>