<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>HomePage</title>
</head>
<body class="bg-light">
<header>
    <div class="navigation bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white text-uppercase btn" href="#"><strong>Car house</strong></a>
                        </li>
                        <li class="nav-item ml-auto bg-success">
                            <a class="nav-link text-white btn" href="/carSale/add"><i class="fas fa-plus"></i> Add advertisement</a>
                        </li>
                        <li class="nav-item mr-0 bg-secondary">
                            <a class="nav-link text-white btn" href="/loginPage">Sing in/Sing up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container bg-white mt-5 pt-3">
        <div class="row ml-2">
            <div class="col-3">
                <p>68640 car advertisement</p>
            </div>
            <div class="col">
                <a href="#" class="btn"><i class="fas fa-search"></i> Advanced Search</a>
            </div>
        </div>
        <div class="row bg-warning ml-2 mr-2">
            <div class="col">
                <div class="search-filter">
                    <form action="#"
                        th:action="@{/carSale}"
                          th:method="@{get}">
                        <div class="form-row pt-3" th:with="startDate=${#dates.year(#dates.createNow())}">
                            <div class="form-group col-6 col-lg">
                                <select class="form-control" onchange="addCarModels(this)" name="carMakeId">
                                    <option value selected>Car make</option>
                                    <option th:each="carMake : ${listCarMakes}"
                                            th:value="${carMake.carMakeId}"
                                            th:text="${carMake.carMake}">BMW</option>
                                    <option th:remove="tag">Mercedes</option>
                                    <option th:remove="tag">Audi</option>
                                </select>
                            </div>
                            <div class="form-group col-6 col-lg">
                                <select class="form-control" id="listCarModels" name="carModelId">
                                    <option value selected>Car model</option>
                                </select>
                            </div>
                            <div class="form-group col-6 col-lg">
                                <select class="form-control" type="date" name="yearFrom">
                                    <option th:value="|${startDate-20}-01-01|" selected>Year from</option>
                                    <option th:each="date : ${#numbers.sequence(__${startDate-20}__,__${startDate}__,1)}"
                                            th:value="|${date}-01-01|"
                                            th:text="${date}">2010</option>
                                </select>
                            </div>
                            <div class="form-group col-6 col-lg">
                                <select class="form-control" type="date" name="yearTo">
                                    <option th:value="|${startDate}-01-01|"selected>Year to</option>
                                    <option th:each="date : ${#numbers.sequence(__${startDate-20}__,__${startDate}__,1)}"
                                            th:value="|${date}-01-01|"
                                            th:text="${date}">2010</option>
                                </select>
                            </div>
                            <div class="form-group col-6 col-lg">
                                <div class="form-group">
                                    <input class="form-control" type="number"
                                           placeholder="Price from" name="priceFrom">
                                </div>
                            </div>
                            <div class="form-group col-6 col-lg">
                                <div class="form-group">
                                    <input class="form-control" type="number"
                                           placeholder="Price to" name="priceTo">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-3  ml-2 mr-2">
            <div class="col">
                <p>popular car makes:</p>
            </div>
        </div>
        <div class="row ml-2 mr-2">
            <div class="col-lg-10">
                <div class="carMakes">
                    <ul class="listCarMakes list-unstyled row">
                        <li class="col-4 col-md-3" th:each="carMake : ${listCarMakes}">
                            <a th:href="@{/carSale/(carMakeId=${carMake.carMakeId})}">
                                <span th:text="${carMake.carMake}">Acura</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function addCarModels(carMake) {
        var carMakeId = carMake.value;
        $.ajax({
            type: 'GET',
            url: "/carModels/" + carMakeId,
            success: function(data){
                var listCarModels=$('#listCarModels'), option="<option value>Car model</option>";
                listCarModels.empty();

                for(var i=0; i<data.length; i++){
                    option = option + "<option value='"+data[i].carModelId + "'>"+data[i].carModel + "</option>";
                }
                listCarModels.append(option);
            },
            error:function(){
                alert("error");
            }
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>