<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update advertisement</title>
</head>
<body>
<header>
    <div class="navigation bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white text-uppercase btn" href="/carhouse/homePage"><strong>Car
                                house</strong></a>
                        </li>
                        <li class="nav-item ml-auto bg-secondary">
                            <form id="userRoom" th:action="@{/carhouse/user/room}" method="post">
                                <input type="hidden" id="updateAuthentication" name="authentication">
                            </form>
                            <a class="nav-link text-white btn" onclick="goToUserRoom()">User room</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h2>Update advertisement</h2>
            </div>
        </div>
        <div class="add-carSale-form mt-3">
            <form id="updateForm" action="#"
                  th:action="@{/carhouse/user/room/carSale/{carSaleId}(carSaleId=${carSale.carSaleId})}"
                  th:object="${carSale}" th:method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="carMake">Car make *</label>
                            <div class="col p-0">
                                <select class="form-control" id="carMake" onchange="addCarModels(this)"
                                        th:field="*{car.carModel.carMake.carMakeId}" required/>
                                <option th:each="carMake : ${carCharacteristics.carMakeList}"
                                        th:value="${carMake.carMakeId}"
                                        th:text="${carMake.carMake}">BMW
                                </option>
                                <option th:remove="tag">Mercedes</option>
                                <option th:remove="tag">Audi</option>
                                </select>
                                <small class="text-danger"
                                       th:if="${#fields.hasErrors('car.carModel.carMake.carMakeId')}"
                                       th:errors="*{car.carModel.carMake.carMakeId}">Price error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="listCarModels">Car model *</label>
                            <div class="col p-0">
                                <select class="form-control" id="listCarModels"
                                        th:field="*{car.carModel.carModelId}" required/>
                                <option th:remove="tag">M2</option>
                                <option th:remove="tag">M4</option>
                                <option th:remove="tag">M5</option>
                                <option th:remove="tag">X5M</option>
                                </select>
                                <small class="text-danger" th:if="${#fields.hasErrors('car.carModel.carModelId')}"
                                       th:errors="*{car.carModel.carModelId}">Price error</small>
                            </div>
                        </div>
                        <div class="d-none">
                            <input type="number" th:field="*{car.carId}">
                            <input id="yearWithMonth" th:value="*{car.year}">
                        </div>
                        <div class="form-group row" th:with="startDate=${#dates.year(#dates.createNow())}">
                            <label class="col-sm-4 col-form-label" for="year">Year *</label>
                            <div class="col p-0">
                                <select class="form-control" id="year" type="date" th:field="*{car.year}">
                                    <option th:each="date : ${#numbers.sequence(__${startDate-20}__,__${startDate}__,1)}"
                                            th:value="|${date}-01-01|"
                                            th:text="${date}">2010
                                    </option>
                                </select>
                                <small class="text-danger" th:if="${#fields.hasErrors('car.year')}"
                                       th:errors="*{car.year}">Price error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="fuelType">Fuel type *</label>
                            <div class="btn-group btn-group-toggle col p-0" data-toggle="buttons" id="fuelType">
                                <label class="btn btn-light border border-secondary"
                                       th:each="fuelType : ${carCharacteristics.fuelTypeList}">
                                    <input type="radio" th:id="${fuelType.fuelType}"
                                           th:value="${fuelType.fuelTypeId}" text="Petrol"
                                           th:text="${fuelType.fuelType}" th:field="*{car.fuelType.fuelTypeId}"
                                           autocomplete="off">
                                </label>
                                <label class="btn btn-light border border-secondary" th:remove="all">
                                    <input type="radio" autocomplete="off"> Diesel
                                </label>
                                <label class="btn btn-light border border-secondary" th:remove="all">
                                    <input type="radio" autocomplete="off"> Electric
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="mileage">Mileage *</label>
                            <div class="col p-0">
                                <input class="form-control" type="number" id="mileage" th:field="*{car.mileage}">
                                <small class="text-danger" th:if="${#fields.hasErrors('car.mileage')}"
                                       th:errors="*{car.mileage}">Price error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="transmission">Transmission *</label>
                            <div class="btn-group btn-group-toggle col p-0" data-toggle="buttons"
                                 id="transmission">
                                <label class="btn btn-light border border-secondary"
                                       th:each="transmission : ${carCharacteristics.transmissionList}">
                                    <input type="radio" th:id="${transmission.transmission}"
                                           th:value="${transmission.transmissionId}" text="Manual"
                                           th:text="${transmission.transmission}"
                                           th:field="*{car.transmission.transmissionId}"
                                           autocomplete="off">
                                </label>
                                <label class="btn btn-light border border-secondary" th:remove="all">
                                    <input type="radio" autocomplete="off"> Automatic
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="price">Price *</label>
                            <div class="col p-0">
                                <input class="form-control" type="number" id="price" th:field="*{price}" required>
                                <small class="text-danger" th:if="${#fields.hasErrors('price')}"
                                       th:errors="*{price}">Price error</small>
                            </div>
                        </div>
                        <div class="update-image">
                            <h2>Update image</h2>
                            <div class="form-group">
                                <div class="input-group input-file" name="multipartFile">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-choose" type="button">Choose</button>
                            </span>
                                    <input type="text" class="form-control" placeholder='Choose a file...'/>
                                    <span class="input-group-btn">
                                 <button class="btn btn-warning btn-reset" type="button">Reset</button>
                            </span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{imageName}">
                        <input type="hidden" id="userId" th:field="*{user.userId}">
                    </div>
                </div>
                <hr>
                <div class="car-feature">
                    <div class="row">
                        <div class="col">
                            <h2>Car Features</h2>
                        </div>
                    </div>
                    <div class="listCarFeature">
                        <ul class="list-unstyled row">
                            <li class="list-item col-sm-6 col-md-4"
                                th:each="carFeature : ${carCharacteristics.carFeatureList}">
                                <label>
                                    <input type="checkbox" th:value="${carFeature.carFeatureId}" name="carFeatureList"
                                           th:checked="${#lists.contains(selectedCarFeatures, carFeature.carFeatureId)}">
                                    <span th:text="${carFeature.carFeature}"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="authentication">
                    <input id="authentication" type="hidden" name="token">
                </div>
                <button class="btn btn-primary" onclick="updateForm()">Update</button>
            </form>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"></script>
<script>
    function addCarModels(carMake) {
        var carMakeId = carMake.value;
        if (carMakeId === "") {
            var listCarModels = $('#listCarModels');
            listCarModels.empty();
            listCarModels.append("<option value>Choose</option>");
        } else {
            $.ajax({
                type: 'GET',
                url: "/carhouse/carModels/" + carMakeId,
                success: function (data) {
                    var listCarModels = $('#listCarModels'), option = "";
                    listCarModels.empty();

                    for (var i = 0; i < data.length; i++) {
                        option = option + "<option value='" + data[i].carModelId + "'>" + data[i].carModel + "</option>";
                    }
                    listCarModels.append(option);
                },
                error: function () {
                    alert("error");
                }
            });
        }
    }

    function autoColumn() {
        $('#selector').autocolumnlist({
            columns: 5
        });
    }

    $(document).ready(function () {
        var carMakeId = [[${carSale.car.carModel.carMake.carMakeId}]];
        $('#carMake option[value=' + carMakeId + ']').attr('selected', 'selected')

        $.ajax({
            type: 'GET',
            url: "/carhouse/carModels/" + carMakeId,
            success: function (data) {
                var listCarModels = $('#listCarModels'), option = "";
                listCarModels.empty();

                for (var i = 0; i < data.length; i++) {
                    option = option + "<option value='" + data[i].carModelId + "'>" + data[i].carModel + "</option>";
                }
                listCarModels.append(option);
                $('#listCarModels option[value=' + [[${carSale.car.carModel.carModelId}]] + ']').attr('selected', 'selected')
            },
            error: function () {
                alert("error");
            }
        });

        var yearInRealFormat = $('#yearWithMonth').val();
        var mas = yearInRealFormat.toString().split("-");
        var year = mas[0] + '-01-01';
        $('#year option[value=' + year + ']').attr('selected', 'selected')
    });

    function bs_input_file() {
        $(".input-file").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' accept='.jpg,.png,.jpeg,.webp' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function () {
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function () {
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    });
                    $(this).find('input').css("cursor", "pointer");
                    $(this).find('input').mousedown(function () {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    }

    $(function () {
        bs_input_file();
    });

    function goToUserRoom() {
        $('#updateAuthentication').val(localStorage.getItem("Authorization"));
        $('#userRoom').submit();
    }

    function updateForm() {
        $('#authentication').val(localStorage.getItem("Authorization"));
        $('#updateForm').submit();
    }
</script>
</body>
</html>